.ChannelList {
    background: #4a3a4a;
    color: #a89ca8;
    padding: 20px;
    margin: 0;
    height: 100vh;
    list-style-type: none;
    font-family: Slack;
}

.ChannelList li a {
    text-decoration: none;
    color: #a89ca8;
}